# hd_purchase_clean

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os

# data_purchase

### pedido desglosado por linea de pedido

In [5]:
data_purchase="../DATA/IntropiaCSV/hd_purchase.csv"

readme=os.path.join(data_purchase)
#cat $readme | head

In [6]:
datafile = os.path.join(data_purchase)
data_purchase = pd.read_csv(datafile, sep=';')
data_purchase.head()

,idPurchase,idProduct,productType,idBuyer,price,quantity,date,active,affiliationCost,idRecommendation,timestamp
0,243680,2843839620,product,2000000019047,134.0,1,2017-03-09 09:47:48,1,0.0,0,1489053080
1,244273,4018604325,product,2000000002449,0.0,1,2017-03-14 07:08:56,1,0.0,0,1489475452
2,252791,1085220167,product,2000000003871,234.0,1,2017-03-09 10:56:39,1,0.0,0,1489066841
3,252791,1669405786,product,2000000003871,177.0,1,2017-03-09 13:37:54,1,0.0,0,1489066841
4,252791,2814652374,product,2000000003871,161.0,1,2017-03-09 10:56:39,1,0.0,0,1489066841

In [7]:
# imprime los titulos de la columna o headers
print (data_purchase.columns.values)

['idPurchase' 'idProduct' 'productType' 'idBuyer' 'price' 'quantity' 'date'
 'active' 'affiliationCost' 'idRecommendation' 'timestamp']

In [8]:
data_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11803 entries, 0 to 11802
Data columns (total 11 columns):
idPurchase          11803 non-null int64
idProduct           11803 non-null int64
productType         11803 non-null object
idBuyer             11803 non-null int64
price               11803 non-null float64
quantity            11803 non-null int64
date                11803 non-null object
active              11803 non-null int64
affiliationCost     11803 non-null float64
idRecommendation    11803 non-null int64
timestamp           11803 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 1014.4+ KB

In [9]:
# frecuencia porcentual de una variable. 
data_purchase_frecuence = data_purchase["idProduct"].value_counts(normalize = True)[:10]*100
#print(data_purchase["idProduct"].value_counts(normalize = True)[:10]*100)
print (data_purchase_frecuence*100)

2058732060    72.015589
472910197     64.390409
3989064406    53.376260
1537032696    44.056596
275175147     43.209354
2675795017    41.514869
774984129     38.973142
639086837     37.278658
3293198965    37.278658
765964016     36.431416
Name: idProduct, dtype: float64

In [10]:
# seleccionamos columnas que mas nos interesan.
data_purchase2=data_purchase[['idPurchase','idProduct','idBuyer','price','active','timestamp']]

# vistazo

data_purchase2.iloc[230:235]

     idPurchase   idProduct        idBuyer  price  active   timestamp
230      445045   472910197  2889752961000  268.0       1  1488975949
231      445046   472910197  2889755321000  268.0       1  1488975575
232      445061   976189171  2889769221000  305.0       1  1488977177
233      445061  2594368303  2889769221000  220.0       1  1488977177
234      445061  3316893192  2889769221000  120.0       1  1488977177

In [11]:
# agrupa la variable precio en escalas por si luego lo podemos utilizar
data_purchase.groupby(pd.cut(data_purchase.price, range(0, 400, 100))).size()
# clasificacion de items por precio

price
(0, 100]      1510
(100, 200]    5152
(200, 300]    3241
dtype: int64

### Recuento de valores unicos

In [12]:
print (data_purchase.columns.values)

['idPurchase' 'idProduct' 'productType' 'idBuyer' 'price' 'quantity' 'date'
 'active' 'affiliationCost' 'idRecommendation' 'timestamp']

In [13]:
n_items =data_purchase.idProduct.shape[0]
# Calculate number of items

n_purchases = data_purchase.idPurchase.unique().shape[0]
# Calculate number of purchase 

n_buyer = data_purchase.idBuyer.unique().shape[0]
# Calculate number of Buyer >> nº id compadores?????

n_quantity = data_purchase.quantity.unique().shape[0]
# Calculate number of quantity

n_price =data_purchase.price.unique().shape[0]
# Calculate number of items

print("There are %s items" % (n_items))
print("There are %s purchases" % (n_purchases))
print("There are %s buyer" % (n_buyer))
print("There are %s quantity" % (n_quantity))
print("There are %s quantity" % (n_price))

There are 11803 items
There are 6310 purchases
There are 5121 buyer
There are 5 quantity
There are 268 quantity

# !!!

In [14]:
# REFLEXIóN >> tenemos una cesta q va de 1 a 5 artículos máximo >> vamos a tener una dispersion brutal????
#Por lo tanto sería algo a tener en cuenta, 
# comprado no comprado ????

# total_purchase

### total transacciones, pedidos consolidados

In [16]:
data_total_purchase="../DATA/IntropiaCSV/hd_total_purchase.csv"
readme=os.path.join(data_total_purchase)
#!cat $readme | head


datafile = os.path.join(data_total_purchase)
data_total_purchase = pd.read_csv(datafile, sep=';')
data_total_purchase.head()

,idPurchase,idOrder,idBuyer,idUser,amount,startDate,finishDate,affiliationCost,timestamp
0,243680,243680,2000000019047,1890527521000,50.0,2017-03-09 09:51:19,2017-03-09 09:51:20,0.0,1489053080
1,244273,244273,2000000002449,1611629291000,0.0,2017-03-14 07:09:00,2017-03-14 07:10:52,0.0,1489475452
2,0,250661,2000000019990,1711932111000,0.0,2017-03-11 13:22:52,NaN,0.0,1489238572
3,0,250753,2000000020010,1894890731000,0.0,2017-03-14 14:11:27,NaN,0.0,1489500687
4,261730,261730,2000000021086,1894990461000,159.0,2017-03-14 14:07:48,2017-03-14 14:32:37,0.0,1489501957

In [17]:
# nota: el id de idPurchase y idOrder coenciden...lo cual nos afianza la idea que teníamos. 
# order >> basket no transaccionada, "carrito abandonado"
# purchase >> basket transaccionado, "compra finalizada"
# es por eso q no tenemos todas las finishDate o el amount.

In [18]:
print (data_total_purchase.columns.values)

['idPurchase' 'idOrder' 'idBuyer' 'idUser' 'amount' 'startDate'
 'finishDate' 'affiliationCost' 'timestamp']

In [20]:
data_total_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7288 entries, 0 to 7287
Data columns (total 9 columns):
idPurchase         7288 non-null int64
idOrder            7288 non-null int64
idBuyer            7288 non-null int64
idUser             7288 non-null int64
amount             7288 non-null float64
startDate          7288 non-null object
finishDate         6197 non-null object
affiliationCost    7288 non-null float64
timestamp          7288 non-null int64
dtypes: float64(2), int64(5), object(2)
memory usage: 512.5+ KB