# rs_user_clean

In [34]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os

# rs_user

### usuarios navegando

In [35]:
data_user="../DATA/IntropiaCSV/rs_user.csv"

readme=os.path.join(data_user)
#cat $readme | head

In [36]:
datafile = os.path.join(data_user)
data_user = pd.read_csv(datafile, sep=';')
data_user.head(0)

Empty DataFrame
Columns: [iduser, tags, geolocation, email, description, name, active, imageurl, url, misc, timestamp]
Index: []

data_user.columns

In [37]:
data_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48969 entries, 0 to 48968
Data columns (total 11 columns):
iduser         48969 non-null int64
tags           0 non-null float64
geolocation    0 non-null float64
email          48969 non-null object
description    0 non-null float64
name           0 non-null float64
active         48969 non-null int64
imageurl       0 non-null float64
url            0 non-null float64
misc           48968 non-null object
timestamp      48969 non-null int64
dtypes: float64(6), int64(3), object(2)
memory usage: 4.1+ MB

In [38]:
# Hay muchas coluans sin valores. No nos aportan nada.

In [39]:
# seleccionamos columnas interés.

user = data_user[['iduser','active','misc','timestamp']]

# vistazo

user.head()

          iduser  active   misc   timestamp
0  1000004887844       1     es  1459288467
1  2000000000333       1  es_es  1376468347
2  2000000000334       0  es_es  1376464186
3  2000000000335       1     es  1485442621
4  2000000000336       1  gb_en  1376484799

Vamos a ir a la carpeta donde estan los datos originales, y a la tabla rs_user le cambiamos el nombre y la renombramos con el nombre rs_user_sec.Esta tabla tiene datos sensibles, que serán eliminados. Por lo tanto no se sube al repositorio.
Y esta con las columnas que nos interesan las guardamos con el nombre actual. Lo hacemos así ya que tenemos mucho ya con este nombre, y puede dar a error.

In [40]:
# guardamos la tabla: 

#Save into a csv

user.to_csv('../DATA/IntropiaCSV/rs_user_prueba.csv')

In [41]:
# Calculate number of diferents elements >> unicos

n_user =data_user.iduser.unique().shape[0]
n_email = data_user.email.unique().shape[0]
n_active = data_user.active.unique().shape[0]
n_misc = data_user.misc.unique().shape[0]

print("There are %s users" % (n_user))
print("There are %s email" % (n_email))
print("There are %s active" % (n_active))
print("There are %s misc" % (n_misc))

There are 48969 users
There are 48717 email
There are 2 active
There are 171 misc

Notas: Tenemos menos emails que usuarios, esto puede deberse a que son guest o bien tienen cuenta.
En cualquier caso, no nos importa, ya que lo relevante es el "id".
Tenemos una combinación de 171 misc. Esta es una combinación de país-idioma por site. 
Hay web site que tienen 2 idiomas y otros que tienen 1.
Puede ser relevante a la hora de recomendar, dados loa hábitos de compra, climatología...pero inicialemente
no lo contemplo.

In [31]:
# otra forma de hacerlo, mediante una función q retorne 

def count_unique(column):
    return len(column.unique())

data_user[['iduser','email','active','misc']].apply(count_unique, axis=0).astype(np.int32)

iduser    48969
email     48717
active        2
misc        171
dtype: int32

In [45]:
# Vistazo a la cantidad de emails que son recurrentes.

# email_count = user.groupby('email').size().sort_values(ascending=False)
# print (email_count)

# Esta columna tiene relevancia solo para uso interno:
# Reflexión para dto. de marketing:
# Tenemos muy pocos emails recurrentes, esto se puede traducir en q tenemos muy pocos usuarios recurrentes???
# La bbbdd de emails es correcta >> revisar de forma conjunta

In [46]:
# Vistazo rápido activo/no activo.>> deduzco q es un indicador de un estado interno.

active_count = user.groupby('active').size().sort_values(ascending=False)
print (active_count)

active
1    41873
0     7096
dtype: int64

Sobre la columna "misc" >> que significan las útimas URL's??? se trata de enlaces rotos:

Posibilidades:

- vienen de emails recuperación carritos? 
- se deben a la incidencia que hubo en la página respecto al redireccionamiento? >> comprobar.

En cualquier caso, inicialmente no se tiene en cuenta para ningún calculo importante.

In [48]:
misc = user['misc'].value_counts()
misc

es                                                                                                     33048
es_es                                                                                                   5086
gb                                                                                                      2584
pt                                                                                                      1286
it                                                                                                      1075
gb_en                                                                                                    859
fr                                                                                                       795
de                                                                                                       787
it_en                                                                                                    405
pt_en                                                                                                    378
de_de                                                                                                    327
gr                                                                                                       277
nl                                                                                                       236
ie                                                                                                       235
be                                                                                                       235
dk                                                                                                       116
fr_fr                                                                                                    107
ie_en                                                                                                    101
se                                                                                                        87
gr_en                                                                                                     85
fr_en                                                                                                     77
ncr                                                                                                       63
pt_es                                                                                                     62
at                                                                                                        57
nl_en                                                                                                     57
dk_en                                                                                                     52
be_fr                                                                                                     47
pl                                                                                                        42
us_en                                                                                                     36
se_en                                                                                                     34
                                                                                                       ...
es?gclid=CIGqzrass8sCFS8z0wodUssKNQ                                                                        1
es?gclid=CKDk-8a1tMwCFWQq0wodjf0DCw                                                                        1
es?gclid=Cj0KEQiAjMC2BRC34oGKqY27jtkBEiQAwSXzfk6UYAWoiMXJfK-UUgs0rlB5EbjS8k6JPBAOKNVwZdEaAryr8P8HAQ        1
es?gclid=CjwKEAiAgKu2BRDu1OGw3-KXokwSJAB_Yy2QZ9OQLDpFmKs5Qsdm0a1e-LVVcKKHPscea-bc0U-_QhoCcYTw_wcB          1
esdefault                                                                                                  1
ch                                                                                                         1
es?gclid=CjwKEAiAmY-3BRDh7pjvg46p1iYSJADQ78gN79YeD55wVkkKKrG05m9D1Cx8-tJ83byGpj2R5Doa5BoC6pfw_wcB          1
fi_en                                                                                                      1
es?gclid=CjwKEAjw8bO3BRDp0bP_vL-7_lASJACL_d6wzzVWcK8--OXk2HjKWBDoBJnNaWnOWg9UKdfXuTphRxoCCeDw_wcB          1
es?gclid=Cj0KEQjw5Z63BRCLqqLtpc6dk7gBEiQA0OuhsI2q4nLra3wNVJ3IR86d0yOuIHGzrDRI_fw3pjm72kQaAiM58P8HAQ        1
fr?gclid=Cj0KEQjwjIy5BRClh8m_9Zu64d8BEiQAtZsQf2Fp0xcejdYsN3EGqxTVQzvOIo28_jKX0jKdxTYirhwaAnyc8P8HAQ        1
es?gclid=Cj0KEQiAsP-2BRCFl4Lb2NTJttEBEiQAmj2tbfBGEXNSQ8Gvi_E9GTMjv4EU2iYeQ7_uW_sy_8n7rN0aAlIW8P8HAQ        1
es?gclid=CIzUpunkocsCFZadGwodtLsAfA                                                                        1
es?gclid=CNCy7Nne78sCFUs6GwodceAIUQ                                                                        1
ca_en                                                                                                      1
gb?gclid=CJb0varSucsCFYTGGwodc2ENCQ                                                                        1
es?gclid=CKPmjYD29csCFRYTGwodejwHjQ                                                                        1
gb?gclid=CLrFn_HgqcsCFasV0wodMIYOFA                                                                        1
bg_es                                                                                                      1
uy_es                                                                                                      1
es?gclid=CP3UiN23uMsCFQso0wodjyoPOg                                                                        1
es?gclid=CJ2V28XepssCFYidGwodwusCGw                                                                        1
eg_es                                                                                                      1
es?gclid=CjwKEAjw3qu5BRC-0uCw8O6Y5zcSJAA_WtdLjVpx70aZbAa_J2QPHvxD0LRUseag5mCez-Uaf5A4vhoCyJLw_wcB          1
de?gclid=CMvI9tS-wssCFUWfGwodvM4Eaw                                                                        1
es?gclid=Cj0KEQiAsP-2BRCFl4Lb2NTJttEBEiQAmj2tbW-Pp6QstwjMtSYhvojfwYQTHlIaWDi6tkPKp9FRMn8aApxk8P8HAQ        1
es?gclid=CMT6_pGxncsCFRIUGwodWJICgg                                                                        1
es?gclid=CP_Jts2-n8sCFasEwwodnK4Dlw                                                                        1
es?gclid=CJ3MrcDLscsCFQ4TGwodHq8KCQ                                                                        1
jp_en                                                                                                      1
Name: misc, Length: 170, dtype: int64

In [ ]:
# Explorando

In [49]:
result = user['active'] == 0
len(result)

48969

In [50]:
len(user[result])

7096

In [51]:
user[result].head()

           iduser  active   misc   timestamp
2   2000000000334       0  es_es  1376464186
8   2000000000340       0  be_en  1378466593
10  2000000000342       0  pt_en  1421016563
11  2000000000343       0  it_en  1376468432
14  2000000000346       0  es_es  1412971285

In [52]:
# Cositas varias probando.

In [56]:
len(user)
user.shape

(48969, 4)

In [58]:
user.count()

iduser       48969
active       48969
misc         48968
timestamp    48969
dtype: int64