# rs_user_clean

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os

# rs_user

### usuarios navegando

In [2]:
data_user="../DATA/IntropiaCSV/rs_user.csv"

readme=os.path.join(data_user)
#cat $readme | head

In [3]:
datafile = os.path.join(data_user)
data_user = pd.read_csv(datafile, sep=',')
data_user.head(10)

,iduser,tags,geolocation,description,name,active,imageurl,url,misc,timestamp
0,1000004887844,NaN,NaN,NaN,NaN,1,NaN,NaN,es,1459288467
1,2000000000333,NaN,NaN,NaN,NaN,1,NaN,NaN,es_es,1376468347
2,2000000000334,NaN,NaN,NaN,NaN,0,NaN,NaN,es_es,1376464186
3,2000000000335,NaN,NaN,NaN,NaN,1,NaN,NaN,es,1485442621
4,2000000000336,NaN,NaN,NaN,NaN,1,NaN,NaN,gb_en,1376484799
5,2000000000337,NaN,NaN,NaN,NaN,1,NaN,NaN,es,1470349078
6,2000000000338,NaN,NaN,NaN,NaN,1,NaN,NaN,de,1484577027
7,2000000000339,NaN,NaN,NaN,NaN,1,NaN,NaN,gr_en,1376467169
8,2000000000340,NaN,NaN,NaN,NaN,0,NaN,NaN,be_en,1378466593
9,2000000000341,NaN,NaN,NaN,NaN,1,NaN,NaN,es,1490222814

data_user.columns

In [4]:
data_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48969 entries, 0 to 48968
Data columns (total 10 columns):
iduser         48969 non-null int64
tags           0 non-null float64
geolocation    0 non-null float64
description    0 non-null float64
name           0 non-null float64
active         48969 non-null int64
imageurl       0 non-null float64
url            0 non-null float64
misc           48968 non-null object
timestamp      48969 non-null int64
dtypes: float64(6), int64(3), object(1)
memory usage: 3.7+ MB

In [5]:
# Hay muchas coluans sin valores. No nos aportan nada.

In [6]:
# seleccionamos columnas interés.

user = data_user[['iduser','active','misc','timestamp']]

# vistazo

user.head()

          iduser  active   misc   timestamp
0  1000004887844       1     es  1459288467
1  2000000000333       1  es_es  1376468347
2  2000000000334       0  es_es  1376464186
3  2000000000335       1     es  1485442621
4  2000000000336       1  gb_en  1376484799

In [7]:
# Calculate number of diferents elements >> unicos

n_user =data_user.iduser.unique().shape[0]
n_active = data_user.active.unique().shape[0]
n_misc = data_user.misc.unique().shape[0]

print("There are %s users" % (n_user))
print("There are %s active" % (n_active))
print("There are %s misc" % (n_misc))

There are 48969 users
There are 2 active
There are 171 misc

Notas: Tenemos menos emails que usuarios, esto puede deberse a que son guest o bien tienen cuenta.
En cualquier caso, no nos importa, ya que lo relevante es el "id".
Tenemos una combinación de 171 misc. Esta es una combinación de país-idioma por site. 
Hay web site que tienen 2 idiomas y otros que tienen 1.
Puede ser relevante a la hora de recomendar, dados loa hábitos de compra, climatología...pero inicialemente
no lo contemplo.

In [8]:
# otra forma de hacerlo, mediante una función q retorne 

def count_unique(column):
    return len(column.unique())

data_user[['iduser','active','misc']].apply(count_unique, axis=0).astype(np.int32)

iduser    48969
active        2
misc        171
dtype: int32

In [9]:
# Vistazo a la cantidad de emails que son recurrentes.

# email_count = user.groupby('email').size().sort_values(ascending=False)
# print (email_count)

# Esta columna tiene relevancia solo para uso interno:
# Reflexión para dto. de marketing:
# Tenemos muy pocos emails recurrentes, esto se puede traducir en q tenemos muy pocos usuarios recurrentes???
# La bbbdd de emails es correcta >> revisar de forma conjunta

In [10]:
# Vistazo rápido activo/no activo.>> deduzco q es un indicador de un estado interno.

active_count = user.groupby('active').size().sort_values(ascending=False)
print (active_count)

active
1    41873
0     7096
dtype: int64

Sobre la columna "misc" >> que significan las útimas URL's??? se trata de enlaces rotos:

Posibilidades:

- vienen de emails recuperación carritos? 
- se deben a la incidencia que hubo en la página respecto al redireccionamiento? >> comprobar.

En cualquier caso, inicialmente no se tiene en cuenta para ningún calculo importante.

In [11]:
misc = user['misc'].value_counts()
misc

es                                                                                                     33048
es_es                                                                                                   5086
gb                                                                                                      2584
pt                                                                                                      1286
it                                                                                                      1075
gb_en                                                                                                    859
fr                                                                                                       795
de                                                                                                       787
it_en                                                                                                    405
pt_en                                                                                                    378
de_de                                                                                                    327
gr                                                                                                       277
nl                                                                                                       236
be                                                                                                       235
ie                                                                                                       235
dk                                                                                                       116
fr_fr                                                                                                    107
ie_en                                                                                                    101
se                                                                                                        87
gr_en                                                                                                     85
fr_en                                                                                                     77
ncr                                                                                                       63
pt_es                                                                                                     62
nl_en                                                                                                     57
at                                                                                                        57
dk_en                                                                                                     52
be_fr                                                                                                     47
pl                                                                                                        42
us_en                                                                                                     36
se_en                                                                                                     34
                                                                                                       ...
gb?gclid=CLrFn_HgqcsCFasV0wodMIYOFA                                                                        1
es?gclid=CKDk-8a1tMwCFWQq0wodjf0DCw                                                                        1
es?gclid=Cj0KEQiA6bq2BRC6ppf0_83Z1YIBEiQAgPYNvcUFROa7U3s92ymewgIkzxwU-Eft3yTimbSFcZLfjfEaAoAx8P8HAQ        1
pe_es                                                                                                      1
gb?gclid=CJb0varSucsCFYTGGwodc2ENCQ                                                                        1
fr?gclid=Cj0KEQjwjIy5BRClh8m_9Zu64d8BEiQAtZsQf2Fp0xcejdYsN3EGqxTVQzvOIo28_jKX0jKdxTYirhwaAnyc8P8HAQ        1
ch                                                                                                         1
gb?gclid=CjwKEAiA3aW2BRCD_cOo5oCFuUMSJADiIMIL1YM4pXe-Ak_eECh21psJ51QLNKqguWA3PpvtmMZyqRoCMrjw_wcB          1
es?gclid=CJ_XyYaBossCFYidGwodUZ0BfA                                                                        1
fr_es                                                                                                      1
es?gclid=CP3u3Onm78wCFdiZGwodAAoGFg                                                                        1
sk_en                                                                                                      1
es?gclid=CjwKEAiAmNW2BRDL4KqS3vmqgUESJABiiwDTbmLDrbf1ZPZDF-Gu36bI3ldpIT2Q5o99ROsaIlZd0BoCvs_w_wcB          1
es?gclid=COCYq7aXpcwCFRUW0wod4a8JIA                                                                        1
es?gclid=CKPmjYD29csCFRYTGwodejwHjQ                                                                        1
es?gclid=Cj0KEQjw5Z63BRCLqqLtpc6dk7gBEiQA0OuhsI2q4nLra3wNVJ3IR86d0yOuIHGzrDRI_fw3pjm72kQaAiM58P8HAQ        1
jp_en                                                                                                      1
es?gclid=CjwKEAjwlfO3BRDR4Pj_u-iO2U0SJAD88y1St5BzumhDNTxVHw2Hu9WknCOi7RsIAudpu3nr3Juq2RoCZ-Hw_wcB          1
es?gclid=CPziz5SovssCFQso0wodLX4A-Q                                                                        1
es?gclid=CjwKEAjwyPW5BRCC3JaM7qfW_FwSJACM3jz9RLndancPP7Jxx8QAwQd9POs3ZcLBewF6vHq3HKU0IxoClafw_wcB          1
es?gclid=CKHCgqqipMsCFUsUwwodwVYADg                                                                        1
gb?gclid=CKjcmoGIyssCFRBmGwod2DcLSw                                                                        1
de?gclid=CPOzjYKCgs0CFfYV0wod4SgGHA                                                                        1
es_de                                                                                                      1
es?ncr=0                                                                                                   1
es?gclid=Cj0KEQiAjMC2BRC34oGKqY27jtkBEiQAwSXzfpW7GXvG1E2KrRuxTN-dnbFD0Ydt9dR6Sl4xehb6jBcaAiEY8P8HAQ        1
de?gclid=CNj9vcn2hs0CFW8o0wod4TkLlw                                                                        1
es?gclid=Cj0KEQjwipi4BRD7t6zGl6m75IgBEiQAn7CfF0fi4KLIVDH9SHdF_PgCP_UKJJ0KrD6Z7cjBncFPzWAaAoz-8P8HAQ        1
es?gclid=Cj0KEQjwr5G5BRD_n-T0pf7x4ucBEiQAlxHOP60xCpsRin7K0ISFwPfl2oRum8jTh-_Wzt005tLkaSYaAvtk8P8HAQ        1
gb?gclid=CIfq9dXb98sCFQmNGwodn-QBFQ                                                                        1
Name: misc, Length: 170, dtype: int64

In [12]:
# Explorando

In [13]:
result = user['active'] == 0
len(result)

48969

In [14]:
len(user[result])

7096

In [15]:
user[result].head()

           iduser  active   misc   timestamp
2   2000000000334       0  es_es  1376464186
8   2000000000340       0  be_en  1378466593
10  2000000000342       0  pt_en  1421016563
11  2000000000343       0  it_en  1376468432
14  2000000000346       0  es_es  1412971285

In [16]:
# Cositas varias probando.

In [17]:
len(user)
user.shape

(48969, 4)

In [157]:
user.count()

iduser       48969
active       48969
misc         48968
timestamp    48969
dtype: int64