# Preparamos los datos

In [295]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import io
import os

# data_purchase

<strong>nota:<br>
Pedidos (purchases) transaccionados desglosados por línea de pedido.<br>
Cada item comprado representa una linea de pedido.<br>
Los pedido están consolidados en el archivo hd_total_purchase<br><br>
Se puede ver descripción detallada de los datos <a href="http://files.grouplens.org/datasets/movielens/">aquí >></a> </strong><br><br>

In [296]:
data_purchase="./DATA/IntropiaCSV/hd_purchase.csv"

readme=os.path.join(data_purchase)
#cat $readme | head

In [297]:
datafile = os.path.join(data_purchase)
data_purchase = pd.read_csv(datafile, sep=';')
data_purchase.head()

,idPurchase,idProduct,productType,idBuyer,price,quantity,date,active,affiliationCost,idRecommendation,timestamp
0,243680,2843839620,product,2000000019047,134.0,1,2017-03-09 09:47:48,1,0.0,0,1489053080
1,244273,4018604325,product,2000000002449,0.0,1,2017-03-14 07:08:56,1,0.0,0,1489475452
2,252791,1085220167,product,2000000003871,234.0,1,2017-03-09 10:56:39,1,0.0,0,1489066841
3,252791,1669405786,product,2000000003871,177.0,1,2017-03-09 13:37:54,1,0.0,0,1489066841
4,252791,2814652374,product,2000000003871,161.0,1,2017-03-09 10:56:39,1,0.0,0,1489066841

In [298]:
print (data_purchase.columns.values)

['idPurchase' 'idProduct' 'productType' 'idBuyer' 'price' 'quantity' 'date'
 'active' 'affiliationCost' 'idRecommendation' 'timestamp']

In [299]:
data_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11803 entries, 0 to 11802
Data columns (total 11 columns):
idPurchase          11803 non-null int64
idProduct           11803 non-null int64
productType         11803 non-null object
idBuyer             11803 non-null int64
price               11803 non-null float64
quantity            11803 non-null int64
date                11803 non-null object
active              11803 non-null int64
affiliationCost     11803 non-null float64
idRecommendation    11803 non-null int64
timestamp           11803 non-null int64
dtypes: float64(2), int64(7), object(2)
memory usage: 1014.4+ KB

In [300]:
# frecuencia porcentual de una variable. 

data_purchase_frecuence = data_purchase["idProduct"].value_counts(normalize = True)[:10]*100
print (data_purchase_frecuence*100)

2058732060    72.015589
472910197     64.390409
3989064406    53.376260
1537032696    44.056596
275175147     43.209354
2675795017    41.514869
774984129     38.973142
639086837     37.278658
3293198965    37.278658
765964016     36.431416
Name: idProduct, dtype: float64

In [301]:
# agrupa la variable precio en escalas.
# Clasificación

price=data_purchase.groupby(pd.cut(data_purchase.price, range(0, 1000, 100))).size()

price

price
(0, 100]      1510
(100, 200]    5152
(200, 300]    3241
(300, 400]    1226
(400, 500]     249
(500, 600]      72
(600, 700]      45
(700, 800]       9
(800, 900]       0
dtype: int64

In [302]:
print (data_purchase.columns.values)

['idPurchase' 'idProduct' 'productType' 'idBuyer' 'price' 'quantity' 'date'
 'active' 'affiliationCost' 'idRecommendation' 'timestamp']

In [303]:
# vistazo selectivo, elimino aquellas columnas que no me interesan.

data_purchase2=data_purchase[['idPurchase','idProduct','idBuyer','price','quantity']]
data_purchase2.iloc[230:235]

     idPurchase   idProduct        idBuyer  price  quantity
230      445045   472910197  2889752961000  268.0         2
231      445046   472910197  2889755321000  268.0         1
232      445061   976189171  2889769221000  305.0         1
233      445061  2594368303  2889769221000  220.0         1
234      445061  3316893192  2889769221000  120.0         1

In [304]:
# buscamos aquellos price = 0 para no considerarlos, ya que estamos en purchase.

data_purchase2  =  data_purchase2 . query ( 'price> 0' )  

data_purchase2.head(5)

   idPurchase   idProduct        idBuyer  price  quantity
0      243680  2843839620  2000000019047  134.0         1
2      252791  1085220167  2000000003871  234.0         1
3      252791  1669405786  2000000003871  177.0         1
4      252791  2814652374  2000000003871  161.0         1
5      261730    85468400  2000000021086   85.0         1

In [305]:
# guardo el archviode nuevo solo con las columans que me interesan.

In [306]:
data_purchase2.to_csv('./DATA/IntropiaCSV/hd_purchase_2.csv')

In [307]:
data_purchase2.head()

   idPurchase   idProduct        idBuyer  price  quantity
0      243680  2843839620  2000000019047  134.0         1
2      252791  1085220167  2000000003871  234.0         1
3      252791  1669405786  2000000003871  177.0         1
4      252791  2814652374  2000000003871  161.0         1
5      261730    85468400  2000000021086   85.0         1

In [308]:
data_purchase2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11504 entries, 0 to 11802
Data columns (total 5 columns):
idPurchase    11504 non-null int64
idProduct     11504 non-null int64
idBuyer       11504 non-null int64
price         11504 non-null float64
quantity      11504 non-null int64
dtypes: float64(1), int64(4)
memory usage: 539.2 KB

In [309]:
# comprobamos que ha guardada ok.

data_purchase3  =  data_purchase2 . query ( 'price == 0' )  

data_purchase3.head(10)

Empty DataFrame
Columns: [idPurchase, idProduct, idBuyer, price, quantity]
Index: []

In [310]:
data_purchase2.head(10)

    idPurchase   idProduct        idBuyer  price  quantity
0       243680  2843839620  2000000019047  134.0         1
2       252791  1085220167  2000000003871  234.0         1
3       252791  1669405786  2000000003871  177.0         1
4       252791  2814652374  2000000003871  161.0         1
5       261730    85468400  2000000021086   85.0         1
6       261730   316185987  2000000021086   85.0         1
7       261730  1709157653  2000000021086   85.0         1
8       275873   596407575  2000000022421  242.0         1
9       289785  1494513654  2000000024040  145.0         1
10      289785  2298064152  2000000024040  210.0         1

In [311]:
n_items =data_purchase2.idProduct.shape[0]
n_purchases = data_purchase2.idPurchase.unique().shape[0]
n_buyer = data_purchase2.idBuyer.unique().shape[0]
n_quantity = data_purchase2.quantity.unique().shape[0]
n_price =data_purchase2.price.unique().shape[0]


print("There are %s items" % (n_items))
print("There are %s purchases" % (n_purchases))
print("There are %s buyer" % (n_buyer))
print("There are %s quantity" % (n_quantity))
print("There are %s quantity" % (n_price))

There are 11504 items
There are 6209 purchases
There are 5054 buyer
There are 5 quantity
There are 267 quantity

In [312]:
data_purchase2.head(10)

    idPurchase   idProduct        idBuyer  price  quantity
0       243680  2843839620  2000000019047  134.0         1
2       252791  1085220167  2000000003871  234.0         1
3       252791  1669405786  2000000003871  177.0         1
4       252791  2814652374  2000000003871  161.0         1
5       261730    85468400  2000000021086   85.0         1
6       261730   316185987  2000000021086   85.0         1
7       261730  1709157653  2000000021086   85.0         1
8       275873   596407575  2000000022421  242.0         1
9       289785  1494513654  2000000024040  145.0         1
10      289785  2298064152  2000000024040  210.0         1

# total_purchase

### total transacciones, pedidos consolidados

In [23]:
data_total_purchase="./DATA/IntropiaCSV/hd_total_purchase.csv"
readme=os.path.join(data_total_purchase)
#!cat $readme | head

datafile = os.path.join(data_total_purchase)
data_total_purchase = pd.read_csv(datafile, sep=';')
data_total_purchase.iloc[1522:1530]

,idPurchase,idOrder,idBuyer,idUser,amount,startDate,finishDate,affiliationCost,timestamp
1522,452140,452140,2895671551000,1895658641000,213.8,2017-03-15 08:40:25,2017-03-15 08:57:26,0.0,1489568246
1523,452143,452143,1895662181000,1895662181000,268.0,2017-03-15 08:24:32,2017-03-15 08:24:33,0.0,1489566273
1524,452150,452150,2895663941000,1895658691000,324.0,2017-03-15 08:30:36,2017-03-15 08:31:53,0.0,1489566713
1525,0,452156,2895678021000,1859646211000,0.0,2017-03-15 08:52:10,NaN,0.0,1489567930
1526,452159,452159,2000000007675,1894993151000,150.0,2017-03-15 08:42:44,2017-03-15 08:44:21,0.0,1489567461
1527,452171,452171,2895669301000,1895670061000,171.0,2017-03-15 08:37:42,2017-03-15 08:37:43,0.0,1489567063
1528,452176,452176,2848145531000,1895611001000,183.0,2017-03-15 09:21:26,2017-03-15 09:23:25,0.0,1489569805
1529,452177,452177,2895672211001,1895669181000,151.8,2017-03-15 08:40:40,2017-03-15 08:44:16,0.0,1489567456

<strong>nota:<br>
Hay pedidos transaccionados con valor = 0 <br>
Esto significa que son carritos q finalmente no se compraron <br>
Por lo tanto en este archivo hd_total_purchase están aglutinados comprar y carritos, eliminamos los carritos abandonados.<br><br><br></strong>

In [28]:
# número de pedidos agrupados por total compra

amount=data_total_purchase.groupby(pd.cut(data_total_purchase.amount, range(0, 4300, 100))).size()

#amount